<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">
    <h1 class="title">Book Management System</h1>
    <a href="/add" class="add-button">Add New Book</a>
    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Title</th>
                <th class="table-header">Author</th>
                <th class="table-header">Genre</th>
                <th class="table-header">Price</th>
                <th class="table-header">Publication Year</th>
                <th class="table-header">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in Books %}
            <tr class="table-row">
                <td class="table-data">{{ book.Title }}</td>
                <td class="table-data">{{ book.Author }}</td>
                <td class="table-data">{{ book.Genre }}</td>
                <td class="table-data">${{ book.Price }}</td>
                <td class="table-data">{{ book.PublicationYear }}</td>
                <td class="table-data">
                    <a href="/edit/{{ book.id }}" class="edit-button">Edit</a>
                    <a href="/delete/{{ book.id }}" class="delete-button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
